.custom-checkbox {
	display: block;
	cursor: pointer;
	position: relative;
	padding-left: 30px;
}

.custom-checkbox__text {
	line-height: 22px;
}

.custom-checkbox__input {
	position: absolute;
	top: 0;
	left: 0;
	height: 22px;
	width: 22px;
	appearance: none;
	border: 1px solid $medium-gray;
	outline: none;
	transition-duration: 0.8s;
	background-color: transparent;
	cursor: pointer;
	border-radius: $global-radius / 2;

	&:checked {
		border-color: $primary-color;
		background-color: $primary-color;
	}

	&:checked + .custom-checkbox__text::before {
		content: '\2714';
		display: block;
		text-align: center;
		color: $white;
		font-size: 2.2rem;
		position: absolute;
		left: 4px;
		top: 0;
	}

	&:active {
		border: 1px solid transparent;
	}


}
