.input-field {
	@include input-field();
	width: 100%;
	background-color: $light-gray;
	padding: $global-padding / 2.8 $global-padding / 4;
	border: 1px solid $medium-gray;
	color: $black;
	border-radius: $global-radius;
	box-shadow: $global-shadow;

	&::placeholder {
		color: darken($medium-gray, 21);
	}

	&:focus {
		border-color: $primary-color;
		background: $white;
	}

	&:disabled {
		border-color: lighten($medium-gray, 10);
		background-color: $white;
		cursor: not-allowed;

		&::placeholder {
			color: lighten($medium-gray, .05);
		}
	}

	&--small {
			padding: $global-padding / 3.4 $global-padding / 4.4;
	}
}

@include breakpoint(small) {

	.input-field {
		padding: $global-padding / 2.2 $global-padding / 3;

		&--small {
			padding: $global-padding / 2.8 $global-padding / 4;
		}
	}

}