.category-item {
  display: block;
  width: 100%;
  padding: $global-padding / 2 gutter();
  box-shadow: $global-shadow;
}

// .category-item__icon {
//   display: block;
//   margin: auto;
//   margin-bottom: $global-margin / 3;
//   width: 65px;
//   height: 65px;

//   svg {
//     width: 100%;
//     height: 100%;
//     fill: $secondary-color;
//   }
// }

.category-item__heading {
  @include sub-heading();
  margin-bottom: $global-margin / 4;
  color: $black;
  text-align: center;
  font-size: 2rem;
}

.category-item__descr {
  text-align: center;
  margin: 0;
}

@include susy-at($small) {

  .category-item {
    display: block;
    width: 100%;
    padding: $global-padding  gutter();
  }

  .category-item__heading {
    font-size: 2.6rem;
  }

}

@include susy-at($xlarge) {
  padding: $global-padding * 2  gutter();
}