.tender-card {
  display: block;
  width: 100%;
  padding: $global-padding / 2;
  background-color: $white;
  box-shadow: $global-shadow;
}

.tender-card__content {
  display: block;
  margin-bottom: $global-margin / 3;
}

.tender-card__name {
  @include sub-heading();
  display: inline-block;
  margin-bottom: $global-margin / 3;
  color: $primary-color;
  text-decoration: none;
  text-align: left;
  font-size: 2.4rem;
  transition: $global-transition;

  &:hover {
    color: $secondary-color;
  }
}

.tender-card__descr {
  display: block;
  margin: 0;
  margin-bottom: $global-margin / 3;
  color: $black;
}

.tender-card__info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tender-card__info-item {
  margin: 0;
  margin-bottom: $global-margin / 6;
  margin-right: gutter() * 1.5;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  

  &:last-child {
    margin-right: 0;
  }
}

.tender-card__info-item-icon {
  flex: 0 0 auto;
  margin-right: gutter() / 3;
  display: block;
  width: 20px;
  height: 20px;

  svg {
    width: 100%;
    height: 100%;
    fill: $secondary-color;
  }
}

.tender-card__info-item-value {
  flex: 1 1 auto;
  font-weight: $global-weight-normal;
  font-size: $small-font-size;
}

.tender-card__price {
  display: block;
  margin: 0;
  margin-bottom: $global-margin / 3;
}

.tender-card__price-text {
  display: block;
}

.tender-card__price-value {
  @include sub-heading();
  color: $primary-color;
  font-size: 2.4rem;
}


// @include susy-at($xsmall) {

//   .tender-card__info {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: flex-start;
//   }

//   .tender-card__info-item {
//     width: 40%;
//     margin-right: gutter();
//   }

// }
@include susy-at($small) {

  .tender-card__name {
    font-size: 2.6rem;
  }

  .tender-card__price-value {
    font-size: 3rem;
  }

}

@include susy-at($medium) {

  .tender-card {
    display: flex;
    align-items: flex-start;
  }

  .tender-card__content {
    flex: 1 1 auto;
    margin: 0;
    margin-right: gutter();
  }

  .tender-card__actions {
    width: 220px;
    flex: 0 1 auto;
  }

  .tender-card__btn {
    margin-left: auto;
  }

  .tender-card__price-text {
    text-align: right;
  }
  
  .tender-card__price-value {
    text-align: right;
  }

  .tender-item__header-info-item  {
    margin-bottom: 0;
  }

}

// .tender-item {
//   // margin-top: -$global-padding / 2;
// }

// .tender-item__container {

// }

// .tender-item__header {
//   width: 100%;
//   margin-bottom: $global-margin / 1.5;
//   padding: $global-padding / 2 gutter();
//   background-color: $white;
//   box-shadow: $global-shadow;
// }

// .tender-item__header-content {
//   margin-bottom: $global-margin / 4;
// }

// .tender-item__header-name {
//   @include heading();
//   margin-bottom: $global-margin / 8;
//   color: $black;
//   font-size: 2.6rem;
// }

// .tender-item__header-info-item {
//   margin: 0;

//   b {
//     font-weight: $global-weight-semi-bold;
//     color: $secondary-color;
//   }
// }

// .tender-item__header-close {
//   display: flex;
//   align-items: center;
// }

// .tender-item__header-close-icon {
//   display: block;
//   width: 34px;
//   height: 34px;
//   margin-right: gutter() / 5;

//   svg {
//     width: 100%;
//     height: 100%;
//     fill: $primary-color;
//   }
// }

// .tender-item__header-close-text {
//   margin: 0;
//   display: block;
//   font-weight: $global-weight-normal;
//   color: $black;
// }

// .tender-item__descr {
//   width: 100%;
//   // margin-bottom: $global-margin / 1.5;
//   padding: 0 gutter();
//   background-color: $white;
//   box-shadow: $global-shadow;
// }

// .tender-item__descr-row {
//   padding: $global-padding / 2 0;
//   border-bottom: 1px solid $medium-gray;

//   &:last-child {
//     border-bottom: none;
//   }

// }

// .tender-item__descr-name {
//   display: block;
//   margin: 0;
//   text-align: left;
// }

// .tender-item__descr-value {
//   margin: 0;
//   font-weight: $global-weight-semi-bold;
//   color: $primary-color;

//   &--secondary {
//     color: $secondary-color;
//   }

//   &--dark {
//     color: $black;
//   }
// }
// .tender-item__descr-item {
//   margin-bottom: $global-margin / 4;

//   &--wide {
//     width: 100%;
//     margin-bottom: $global-margin / 2;

//     &:last-child {
//       margin-bottom: 0;
//     }
//   }

// }

// .tender-item__sidebar {
//   width: 100%;
//   // margin-bottom: $global-margin / 1.5;
//   padding: 0 gutter();
//   padding-bottom: $global-padding / 2;
//   background-color: $white;
//   box-shadow: $global-shadow;
// }

// .tender-item__sidebar-item {
//   display: flex;
//   align-items: center;
//   padding: $global-padding / 2 0;
//   border-bottom: 1px solid $medium-gray;
// }

// .tender-item__sidebar-item-icon {
//   width: 50px;
//   height: 50px;
//   flex: 0 0 auto;
//   margin-right: gutter();

//   svg {
//     width: 100%;
//     height: 100%;
//     fill: $secondary-color;
//   }
// }

// .tender-item__sidebar-item-content {
//   flex: 1 1 auto;
// }

// .tender-item__sidebar-item-name {
//   display: block;
//   margin: 0;
//   margin-bottom: $global-margin / 10;
// }

// .tender-item__sidebar-item-value {
//   @include heading();
//   font-size: 3rem;
//   color: $primary-color;
// }

// .tender-item__timer {
//   padding: $global-padding / 2 0;
// }

// .tender-item__sidebar-close {
//   padding: $global-padding / 2 0;
// }

// .tender-sidebar-close {
//   display: $black;
// }

// .tender-item__sidebar-close-icon {
//   display: block;
//   width: 70px;
//   height: 70px;
//   margin: auto;
//   margin-bottom: $global-margin / 4;

//   svg {
//     width: 100%;
//     height: 100%;
//     fill: $secondary-color;
//   }
// }

// .tender-item__sidebar-close-header {
//   @include heading();
//   margin-bottom: $global-margin / 6;
//   font-size: 2rem;
//   text-align: center;
//   color: $black;
// }

// .tender-item__sidebar-close-text {
//   margin: 0;
//   margin-bottom: $global-margin / 2;
//   text-align: center;
//   display: block;

//   a {
//     text-decoration: none;
//     color: $primary-color;
//     transition: $global-transition;

//     &:hover {
//       color: $secondary-color;
//     }
//   }
// }


// @include susy-at($xsmall) {

//   .tender-item__header-info {
//     display: flex;
//     flex-wrap: wrap;
//   }


//   .tender-item__header-info-item {
//     margin-right: gutter();

//     &:last-child {
//       margin-right: 0;
//     }
//   }


//   .tender-item__descr-row {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;

//     &--wide {
//       display: block;
//     }
//   }

//   .tender-item__descr-item {
//     width: span(3);

//     &:nth-child(3n) {
      
//       margin-right: 0;
//       flex: 1 1 auto;
//     }

//     &--wide {
//       width: 100%;
//       margin-bottom: $global-margin / 2;
  
//       &:last-child {
//         margin-bottom: 0;
//       }
//     }
//   }

// }

// @include susy-at($small) {

//   .tender-item__header {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }

//   .tender-item__header-content {
//     margin: 0;
//     margin-right: gutter();
//   }

//   .tender-item__header-close-icon {
//     width: 44px;
//     height: 44px;
//   }

//   .tender-item__sidebar-close-header {
//     font-size: 2.6rem;
//   }

//   .tender-item__sidebar-close-icon {
//     width: 85px;
//     height: 85px;
//   }

//   .tender-item__sidebar-close-header {
//     font-size: 2.4rem;
//   }

// }

// @include susy-at($medium) {

//   .tender-item {
//     display: flex;
//     justify-content: space-between;
//     align-items: stretch;
//   }

//   .tender-item__container {
//     width: span(8);
//     display: flex;
//     flex-direction: column;
//     align-items: stretch;
//   }

//   .tender-item__sidebar {
//     width: span(4);
//   }

//   .tender-item__descr {
//     flex: 1 1 auto;
//   }

// }


// @include susy-at($large) {

//   .tender-item__header-info {
//     display: flex;
//     flex-wrap: wrap;
//   }


//   .tender-item__header-info-item {
//     margin-right: gutter();

//     &:last-child {
//       margin-right: 0;
//     }
//   }

//   .tender-item__descr-row {
//     // display: flex;
//     flex-wrap: wrap;
//     // justify-content: space-between;
//   }

//   .tender-item__descr-item {
//     width: span(4);
//     margin: 0;

//     &:nth-child(3n) {  
//       margin: 0;
//       flex: 0 1 auto;
//     }

//     &--wide {
//       width: 100%;
//       margin-bottom: $global-margin / 2;
  
//       &:last-child {
//         margin-bottom: 0;
//       }
//     }
//   }

// }
