// .main-nav {
// 	position: fixed;
// 	padding: $global-padding 15px;
// 	width: 250px;
// 	z-index: 3;
// 	left: 0;
// 	top: 0;
// 	height: 100%;
// 	overflow-y: auto;
// 	transform: translate(-100%);
// 	background-color: $secondary-accent-color;
// 	transition: $global-transition;

// 	&--active {
// 		transform: translate(0);
// 	}

// 	&--no-js {

// 		.main-nav__sub-list {
// 			display: block;
// 		}

// 	}
// }


// .main-nav__list {
// 	@include reset-list();
// }

// .main-nav__item {
// 	position: relative;
// 	display: block;
// 	margin-bottom: $global-margin / 3;

// 	&:last-child {
// 		margin-bottom: 0;
// 	}
// }


// .main-nav__item-lnk {
// 	@include sub-heading();
// 	text-transform: uppercase;
// 	text-decoration: none;
// 	color: $white;
// 	transition: $global-transition;

// 	&:hover {
// 		text-decoration: none;
// 		color: $primary-color;
// 	}

// 	&--has-sub {
// 		padding-right: gutter() / 2;

// 		&:after {
// 			content: '';
// 			@include triangle(bottom, 7px, 5px, $primary-accent-color);
// 			position: absolute;
// 			right: 0;
// 			top: 8px;
// 		}

// 	}

// 	&--active ul {
// 		display: block;
// 	}
	
// }

// .main-nav__sub-list {

// 	display: none;
// 	@include reset-list();
// 	padding-top: $global-padding / 3;
// 	animation: fade-in 1s;
	
// }

// .main-nav__sub-item {
// 	padding-left: gutter() / 2;
// 	display: block;
// 	margin-bottom: $global-margin / 3;

// 	&:last-child {
// 		margin-bottom: 0;
// 	}
// }

// .main-nav__sub-item-lnk {
// 	@include sub-heading();
// 	text-transform: uppercase;
// 	text-decoration: none;
// 	color: $white;
// 	transition: $global-transition;

// 	&:hover {
// 		text-decoration: none;
// 		color: $primary-color;
// 	}
// } 

// @include breakpoint(small) {

// 	.main-nav {
// 		width: 300px;
// 	}

// }

// @include breakpoint(large) {
	
// 	.main-nav {
// 		transform: none;
// 		height: auto;
// 		width: auto;
// 		padding: 0;
// 		position: static;
// 		background-color: transparent;
// 		overflow-y: visible;
// 	}

// 	.main-nav__list {
// 		display: flex;
// 	}

// 	.main-nav__item {
// 		margin-right: gutter() / 1.2;
// 		margin-bottom: 0;
// 		position: relative;

// 		&:last-child {
// 			margin-right: 0;


// 			.main-nav__sub-list {
// 				right: 0;
// 			}
// 		}
// 	}

// 	.main-nav__item-lnk {
// 		color: $black;
// 		font-size: 2rem;
// 	}

// 	.main-nav__sub-list {
// 		padding-bottom: $global-padding / 3;
// 		width: 150px;
// 		position: absolute;
// 		text-align: center;
// 	}

// 	.main-nav__sub-item {
// 		padding: 0;
// 		margin: 0;
// 		text-align: left;
// 		background-color: $secondary-accent-color;

// 		&:first-child {
// 			.main-nav__sub-item-lnk {
// 				padding-top: $global-padding / 3;
// 			}
// 		}

// 		&:last-child {
// 			.main-nav__sub-item-lnk {
// 				padding-bottom: $global-padding / 3;
// 			}
// 		}
// 	}

// 	.main-nav__sub-item-lnk {
// 		color: $white;
// 		padding: $global-padding / 8 gutter() / 2;
// 	}

// }

.main-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	
	width: 100%;
	// right: 0;
	left: -100%;
	z-index: 9;
	overflow: auto;
	opacity: 0;
	background-color: $white;
	transition: $global-transition;

	&--active {
		left: 0;
		opacity: 1;
	}

	&--no-js {
		display: block;
		width: 100%;
		position: static;
		opacity: 1;
	}
}


.main-nav__list {
	@include reset-list();
	@include container();
	overflow: auto;
	padding-top: $global-padding;
	padding-bottom: $global-padding / 2;
	margin-bottom: $global-margin / 4;
}

.main-nav__item {
	display: block;
	text-align: center;
	margin-bottom: $global-margin / 3;
}

.main-nav__item-lnk {
	display: block;
	// padding-right: 50px;
	font-family: $heading-font-family;
	// color: $white;
	font-size: 1.8rem;
	font-weight: $global-weight-semi-bold;
	color: $black;
	transition: $global-transition;

	&:hover {
		color: $primary-color;
	}
	// text-transform: uppercase;
}

.main-nav__nav-close {
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
	@include btn();
	height: 50px;
	width: 50px;
	background-color: $primary-color;

	svg {
		fill: $white;
		width: 100%;
		height: 100%;
	}
	
}

@include susy-at($large) {

	.main-nav {
		width: auto;
		position: static;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-items: center;
		opacity: 1;
		background-color: transparent;
	}

	.main-nav__list {
		margin-bottom: 0;
		padding: 0;
		margin-right: gutter();
		display: flex;
		flex-wrap: wrap;

		.main-nav__item {
			margin: 0;
			margin-right: gutter();

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.main-nav__item-lnk {
		color: $white;
	}

	.main-nav__nav-close {
		display: none;
	}

}

